# Artificial Intelligence project
#### By Chris Alexander and Viveka Salinamakki

<span style="color:red">**<<<<<<< local**</span>

<span style="color:red">**=======**</span>

In [2]:
from pydataset import data

initiated datasets repo at: C:\Users\alexc\.pydataset/

In [7]:
data()[1:10]

         dataset_id                                           title
1           BJsales               Sales Data with Leading Indicator
2               BOD                       Biochemical Oxygen Demand
3      Formaldehyde                   Determination of Formaldehyde
4      HairEyeColor       Hair and Eye Color of Statistics Students
5      InsectSprays                  Effectiveness of Insect Sprays
6    JohnsonJohnson  Quarterly Earnings per Johnson & Johnson Share
7         LakeHuron                   Level of Lake Huron 1875-1972
8  LifeCycleSavings            Intercountry Life-Cycle Savings Data
9              Nile                          Flow of the River Nile

<span style="color:red">**>>>>>>> remote**</span>